---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
NamespaceIndentation: None
BreakBeforeBraces: Attach
IndentCaseLabels: true
AccessModifierOffset: -4
BinPackParameters: false
BinPackArguments: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AlignAfterOpenBracket: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
